<h2>Contact</h2>
<p>
  My name is Julien and I’m a software professional living in the beautiful town of Namur in Belgium.
</p>
<p>
  I am passionate and curious about many subjects, ranging from computer security to human interactions.
  I love to be technically challenged and I always try to understand how things work, how they can be improved or fixed.
  My different experiences have taught me to be pragmatic, and to always search for a simple and coherent solution to
  every problem.
</p>
<p>
  If you interested by the story behind this web application, read the full story on <a
  href="https://anitjourney.blog/the-straver" rel="noreferrer" target="_blank">my blog</a>.
</p>
<p>
  You have a feedback or a question for me? <a href="mailto:jmeulema@gmail.com">Send my an email!</a>
</p>
