<h2>Welcome aboard!</h2>
<p>
  This website allows you to visualise and manipulate your training data (mostly from swim
  sessions) based on an export from your watch (as a TCX file).
</p>
<p>
  If you interested by the story behind this web application, read the full story on <a
  href="https://anitjourney.blog/the-straver" rel="noreferrer" target="_blank">my blog</a>.
</p>
<button class="btn btn-primary" routerLink="/activity-visualizer">Start using the activity visualizer</button>
