<h2>Activity visualizer</h2>

<div *ngIf="!validTcx" class="row">
  <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
    <label>Please provide a valid TCX file: </label>
  </div>
  <div class="col">
    <input (change)="fileUploaded($event)" class="px-1" type='file'>
  </div>
</div>
<div *ngIf="!validTcx" class="row">
  <div class="col">
    <small>You have no valid TCX file on hand but still want to test this tool? <a href="assets/examples/example.tcx"
                                                                                   target="_blank">Use this example!</a></small>
  </div>
</div>

<div *ngIf="data" class="row">
  <div class="col-md-3">
    <ul class="list-unstyled text-center">
      <li><strong class="mr-1">Total distance: </strong>{{totalDistance}}m</li>
      <li><strong class="mr-1">Total duration: </strong>{{totalDuration | durationFormat}}</li>
      <li>
        <strong class="mr-1">Average pace: </strong>
        {{ (totalDistance > 0 ? totalDuration / totalDistance * 100 : 0) | durationFormat }} /100m
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled text-center">
      <li>
        <label class="mr-1">Valid XML: </label>
        <fa-icon [class]="validXml ? 'text-success' : 'text-danger'"
                 [icon]="validXml ? faCheckCircle : faExclamationCircle"></fa-icon>
      </li>
      <li>
        <label class="mr-1">Valid TCX: </label>
        <fa-icon [class]="validTcx ? 'text-success' : 'text-danger'"
                 [icon]="validTcx ? faCheckCircle : faExclamationCircle"></fa-icon>
      </li>
      <li>
        <label class="mr-1">Coherent times: </label>
        <fa-icon [class]="coherentTimes ? 'text-success' : 'text-danger'"
                 [icon]="coherentTimes ? faCheckCircle : faExclamationCircle"></fa-icon>
      </li>
      <li>
        <label class="mr-1">Coherent distances: </label>
        <fa-icon [class]="coherentDistances ? 'text-success' : 'text-danger'"
                 [icon]="coherentDistances ? faCheckCircle : faExclamationCircle"></fa-icon>
      </li>
    </ul>
  </div>
  <div *ngIf="validTcx" class="col-md-3">
    <ul class="list-unstyled text-center">
      <li>
        <div class="d-inline-block" container="body" ngbDropdown>
          <button class="btn btn-outline-primary my-1" ngbDropdownToggle>Modify activity</button>
          <div ngbDropdownMenu>
            <button (click)="autoFixes()" ngbDropdownItem>Apply automatic fixes</button>
            <div class="dropdown-divider"></div>
            <button (click)="deleteEmptyLaps()" ngbDropdownItem>Delete empty laps</button>
            <button (click)="fixTimes()" ngbDropdownItem>Fix tracked times and durations</button>
            <button (click)="fixDistances()" ngbDropdownItem>Fix tracked distances</button>
          </div>
        </div>
      </li>
      <li>
        <button (click)="downloadXmlFile()" class="btn btn-success my-1">Export</button>
      </li>
      <li>
        <button (click)="reset()" class="btn btn-danger my-1">Reset</button>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="bg-light overflow-auto list-unstyled">
      <li *ngFor="let entry of logEntries"
          class="text-muted font-italic small">{{entry}}</li>
    </ul>
  </div>
</div>

<div *ngIf="pendingWork" class="d-flex align-items-center bg-warning my-2 p-2">
  <strong>Working on it (as hard as you did during your session)...</strong>
  <div aria-hidden="true" class="spinner-border ml-auto" role="status"></div>
</div>

<div *ngIf="validTcx" class="table-responsive my-4">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Distance</th>
      <th scope="col">Duration</th>
      <th scope="col">Pace</th>
      <th scope="col">Avg Heart Rate</th>
      <th scope="col">Max Heart Rate</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lap of data.TrainingCenterDatabase.Activities.Activity.Lap; index as i">
      <th scope="row">{{ i }}</th>
      <td>{{ lap.DistanceMeters }} m</td>
      <td>{{ lap.TotalTimeSeconds | durationFormat }}</td>
      <td>{{ (lap.DistanceMeters > 0 ? lap.TotalTimeSeconds / lap.DistanceMeters * 100 : 0) | durationFormat }}
        /100m
      </td>
      <td>{{ lap.AverageHeartRateBpm.Value }} bpm</td>
      <td>{{ lap.MaximumHeartRateBpm.Value }} bpm</td>
      <td>
        <div class="d-inline-block" container="body" ngbDropdown>
          <button class="btn btn-outline-primary" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu>
            <button (click)="deleteLap(i)" ngbDropdownItem>Delete</button>
            <button (click)="mergeLap(i)" ngbDropdownItem>Merge with next lap</button>
            <button (click)="autoSplitLap(i)" ngbDropdownItem>Auto split lap</button>
            <button (click)="openLapEditModal(i, lap.DistanceMeters)" ngbDropdownItem>Edit</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
