<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <img alt="" height="60" src="assets/img/straver-logo-light.svg?v=1"> </a>
    <button (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
            aria-controls="navbar"
            aria-label="Toggle navigation" class="navbar-toggler collapsed" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="navbarCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/activity-visualizer">Activity visualizer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container p-4" role="main">
  <router-outlet></router-outlet>
</main>

<footer class="my-4 px-4 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="text-muted">This tool was built for fun and comes with no guaranties at all.</small>
    </div>
  </div>
</footer>
