<div class="modal-header">
  <h4 class="modal-title">Edit lap</h4>
  <button (click)="dismiss()" class="close" data-dismiss="modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>
    Distance (m):
    <input [formControl]="distanceControl" type="number">
  </label>
</div>
<div class="modal-footer">
  <button (click)="dismiss()" class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
  <button (click)="save()" [disabled]="!distanceControl.valid" class="btn btn-primary" type="button">Save</button>
</div>
